/* Estilos para el contenedor principal */
.cart-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
table{
  background-color: white;
  text-align: center;
}


/* Estilos para el contenedor col-sm-4 */
.col-sm-4 {
  text-align: center;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffc107;
  border-radius: 20px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.356);
}

/* Estilos para las imágenes */
img {
  width: 100%;
  max-width: 100px; /* Ajustado el ancho máximo de la imagen */
  height: auto; /* Se mantiene la proporción de la imagen */
  border-radius: 10px;
  box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.267);
  margin-bottom: 10px; /* Espacio entre imágenes */
}

/* Estilos para el contenedor carrito-1 */
.carrito-1 {
  margin: 10px;
  padding: 15px;
  background-color: #ffc107;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.356);

  border-radius: 10px;
}

.carrito-1 h1 {
  text-align: center;
}


