<div class="carrito-1">
  <h1>Mi Carrito</h1>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cart of cartData">
          <td><img src="{{ cart.image }}" /></td>
          <td>{{ cart.name }}</td>
          <td>{{ cart.price }}</td>
          <td>{{ cart.quantity }}</td>
          <td>          <button
            class="btn btn-danger"
            (click)="removeToCart(cart.id)"
            routerLink="/"
          >
            Eliminar
          </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  <div class="cart-page">
    <div class="col-sm-4 summary">
      <h3>Total de Productos</h3>
      <div class="table-responsive">
      <table class="table table-hover">
              <tbody>
                <tr>
                  <td>Precio</td>
                  <td>{{ priceSummary.price }}</td>
                </tr>
                <tr>
                  <td>Iva</td>
                  <td>{{ priceSummary.iva }}</td>
                </tr>
                <tr>
                  <td>Envío</td>
                  <td>{{ priceSummary.delivery }}</td>
                </tr>
                <tr>
                  <td>Descuento</td>
                  <td>{{ priceSummary.discount }}</td>
                </tr>
                <tr>
                  <td><h4>Total:</h4></td>
                  <td><h4>{{ priceSummary.total }}</h4></td>
                </tr>
              </tbody>
            </table>      
      <button (click)="checkout()" class="btn btn-success">Verificar</button>

      </div>
      
    </div>
  </div>




