.carrusel{
  width: 100%;
  padding: 0px -25px;
  background-image: url(https://img.freepik.com/foto-gratis/fondo-blanco-sucio-cemento-natural-o-textura-antigua-piedra-como-pared-patron-retro-banner-pared-conceptual-grunge-material-o-construccion_1258-70913.jpg?w=2000);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;


}
.carrusel-header-img{
  object-fit: contain;
  height: 500px;
  width: 100%;
}

/*Productos Populares*/
.container2{
  margin: 20px;
}
.separador{
  background-color: yellow;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.separador2{
  color: white;
  background-color: #021730;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.producto-item{
  margin-bottom: 40px;
  border:1px solid #ddd;
  margin-right: 25px;
  border: 1px solid gray;
  border-radius: 20px;
}
.producto-item img{
  width: 100%;
  height:300px;
  object-fit: contain;
  border-radius: 20px;
}
.producto-item .product-detalles{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding:15px;
}
.producto-item .nombre{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-color: yellow;
  padding: 7px 25px;

}
.producto-item .precio{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.producto-item .producto-detalles h6{
  text-align: center;
}
.producto-footer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}


.button-detalle {
  background-color: #021730;
  border-radius: 10px;
  color: white;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button-add {
  background-color: #4CAF50;
  border-radius: 10px;
  color: white;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
