<ngb-carousel *ngIf="popularProducts" class="carrusel">
	<ng-template *ngFor="let item of popularProducts" ngbSlide>
		<div>
			<a routerLink="/details/{{item.id}}">
        <img class="carrusel-header-img" src="{{item.image}}" alt="Random first slide" />
      </a>
		</div>
		<div class="carousel-caption">
			<h3>{{item.name}}</h3>
			<p>{{item.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>

<div class="separador">
  <h1>PRODUCTOS POPULARES</h1>
</div>

<div class="container2">
 <div class="row">
    <div class="col-sm-3" *ngFor="let item of trendyProducts">
     <div class="producto-item">
       <img src="{{item.image}}" alt="">
     <div class="producto-detalles">
       <h6 class="nombre">{{item.name}}</h6>
       <div class="producto-price">
       <h6 class="precio">${{item.price}}</h6>
       </div>
       <div class="producto-color">
        <h6>Color:{{item.color}}</h6>
        </div>
     </div>
     <div class="producto-footer">
       <a routerLink="/details/{{item.id}}"><button class="button-detalle button1 max-width">Detalles</button></a>
       <a routerLink="/details/{{item.id}}"><button class="button-add button1 max-width"> Añadir (+)</button></a>
     </div>
    </div>
    </div>
 </div>
</div>

<div class="container2">
  <div class="row">
     <div class="col-sm-3" *ngFor="let item of trendyProducts">
      <div class="producto-item">
        <img src="{{item.image}}" alt="">
      <div class="producto-detalles">
        <h6 class="nombre">{{item.name}}</h6>
        <div class="producto-price">
        <h6 class="precio">${{item.price}}</h6>
        </div>
        <div class="producto-color">
         <h6>Color:{{item.color}}</h6>
         </div>
      </div>
      <div class="producto-footer">
        <a routerLink="/details/{{item.id}}"><button class="button-detalle button1">Detalles</button></a>
        <a href="#"><button class="button-add button1">Añadir (+)</button></a>
      </div>
     </div>
     </div>
  </div>
 </div>

<div class="separador2">
  <h1>R E C O M E N D A C I O N E S</h1>
</div>

<div class="container2">
  <div class="row">
     <div class="col-sm-3" *ngFor="let item of trendyProducts">
      <div class="producto-item">
        <img src="{{item.image}}" alt="">
      <div class="producto-detalles">
        <h6 class="nombre">{{item.name}}</h6>
        <div class="producto-price">
        <h6 class="precio">${{item.price}}</h6>
        </div>
        <div class="producto-color">
         <h6>Color:{{item.color}}</h6>
         </div>
      </div>
      <div class="producto-footer">
        <a routerLink="/details/{{item.id}}"><button class="button-detalle button1">Detalles</button></a>
        <a href="#"><button class="button-add button1">Añadir (+)</button></a>
      </div>
     </div>
     </div>
  </div>
 </div>
