

/* Estilos base */
.nav-arriba {
  display: flex;
  justify-content: space-between;
  background-color: #021730;
  padding: 10px;
}

.nav-arriba img {
  max-width: 80%;
  height: auto;
}

/* Estilo del buscador */
.nav-arriba .nav-search {
  flex: 1;
  display: flex;
  margin: 2% 4% 2% 50%;
  
}

.nav .nav-search input {
  flex: 1;
  color: #000000;
  border: 1px solid #000000;
  height: 39px;
  border-right: none;
  margin-left: 2px;
}

/* Estilos de navegación */
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #b3b3b3;
  padding: 7px;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav ul a {
  text-decoration: none;
  color: black;
  margin: 10px;
  padding: 10px;
  border: 10;
  border-radius: 10px;
}
.nav ul a:hover{
  background-color: #ddd;
  cursor: pointer;
}
.nav ul li {
  padding: 0 20px;
}

.suggested-result {
  position: absolute;
  display: none;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  top: 40px;
  border: 1px solid #ddd;
}

.suggested-result li {
  border: 1px solid #ddd;
  padding: 5px;
}

.suggested-result li a {
  cursor: pointer;
  color: black;
}

/* Media queries para hacer responsive */
@media screen and (max-width: 768px) {
  .nav-arriba {
    flex-direction: column;
    align-items: center;
  }

  .nav-arriba .nav-search {
    margin: 2% 4% 2% 4%;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
  }
}
