
.nav-arriba {
  display: flex;
  justify-content:space-between;
  background-color: #021730;
  padding: 10px;

}
.nav-arriba img{
  width:350px;
  height:80px;
}
.nav-arriba .nav-search{
  flex:1;
  display:flex;
  margin: 2% 4% 2% 50%;
}
.nav {
  display: flex;
  justify-content:space-between;
  background-color: #b3b3b3;
  padding: 7px;

}
.nav .nav-search input {
  flex:1;
  color:rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  height: 39px;
  border-right:none;
}

.nav ul {
  display:inline-flex;
  margin:0;
  padding:0;
  list-style-type: none;
}
.nav ul a{
  text-decoration: none;
  cursor: pointer;
  color: black;


}
.nav ul li{
  padding:0px 15px;
}


.suggested-result {
  position:absolute;
  display: list-item !important;
  z-index:10;
  background-color: #fff;
  width: 300px;
  top:40px;
  border:1px solid #ddd;
}

.suggested-result li {
  border:1px solid #ddd;
  padding:5px;
}

.suggested-result li a{
  cursor:pointer;
  color:black;
}
