<!--nav vistas-->
<nav class="nav-arriba">
  <a routerLink="/">
    <img src="https://http2.mlstatic.com/storage/mshops-appearance-api/images/58/436626158/logo-2022090210153291700.png" alt="Logo">
  </a>
  <div *ngIf="menuType!=='vendedor'" class="nav-search">
    <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Búsqueda de Productos" >
    <button (click)="submitSearch(searchInput.value)" class="btn btn-warning" style="margin-left: 4px;">Buscar</button>
    <ul class="suggested-result" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
      </li>
    </ul>
  </div>
</nav>
<!--nav vistas-->
<nav class="nav">
  <div [ngSwitch]="menuType" style="padding: 1px;">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="vendedor-auth"><span class="glyphicon glyphicon-user"></span> Vendedor</a></li>
      <li><a (click)="logOut()">Logout</a></li>
      <li><a routerLink="/user-auth"><span class="glyphicon glyphicon-log-in"></span> Cliente</a></li>

      <!--<li><a href="#">Carrito ({{cartItems}})</a></li>
      <li><a routerLink="/"><img src="https://yavirac.edu.ec/img/Logo%20Yavirac.png" alt="Yavirac Logo" style="margin: -20px 0px -20px 625px; width:130px; height:60px"></a></li>
       -->
    </ul>
    <ul *ngSwitchCase="'user'">
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="user-auth">{{userName}}</a></li>
      <li><a [routerLink]="cartItems > 0 ? 'cart-page' : null">Carrito ({{cartItems}})</a></li>
      <li><a routerLink="mis-ordenes">Mis Órdenes</a></li>
      <li><a (click)="userlogOut()">Cerrar Sesión</a></li>
    </ul>
    <ul *ngSwitchCase="'vendedor'">
      <li><a routerLink="vendedor-add-product">Añadir Productos</a></li>
      <li><a routerLink="vendedor-home">Lista de Productos</a></li>
      <li><a (click)="logOut()">Logout</a></li>
      <li><a routerLink="vendedor-auth">{{vendedorName}}</a></li>
    </ul>
    
  </div>
</nav>
