
.update-product{
  text-align: center;
  margin: 1px;
  margin: 10px;
  width: 400px;
  padding: 40px;
  transform: translate(120%);
  background: rgba(61, 61, 61, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 10px 12px #ffc107;
  border-radius: 10px;
}

.update-product h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #000000;
  text-align: center;
  font-size: 25px;
}

.update-product .formulario-2 {
  position: relative;
}

.update-product .formulario-2 input, textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  text-transform: uppercase;
}