
<div class="ordenes-1">
  <h1>Mis Ordenes</h1>
  <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Orden</th>
        <th># Orden</th>
        <th>Precio</th>
        <th>Estado</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let order of orderData">
      <tr>
        <td><img class="order-img" src="https://static.vecteezy.com/system/resources/previews/001/838/910/non_2x/truck-with-cart-and-boxes-delivery-service-free-vector.jpg"></td>
        <td>#{{order.id}}</td>
        <td> {{order.totalPrice}}</td>
        <td><marquee behavior="alternate">En porgreso</marquee></td>
        <td><button class="btn btn-danger"(click)="cancelOrder(order.id)">Cancelar Orden</button></td>
      </tr>
    </tbody>
  </table>
</div>

</div>
