
<div class="add-product">
  <h2><i class="fa-regular fa-address-book"></i> Añadir Nuevo Producto</h2>
  <p class="p-message">{{addProductMessage}}</p>
  <div class="Agregar">
      <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
        <input class="form-input" name="name" ngModel  type="text" placeholder="Ingresa el nombre del producto" required>
        <input class="form-input" name="price" ngModel  type="text" placeholder="Ingrese el precio del producto" required>
        <input class="form-input" name="color" ngModel  type="text" placeholder="Ingrese el color del producto" required>
        <input class="form-input" name="category" ngModel  type="text" placeholder="Ingrese la categoria a la que pertenece el producto" required>
        <textarea class="form-input" name="description" ngModel  type="text" placeholder="Ingrese una descripcion para el producto" required></textarea>
        <input class="form-input" name="image" ngModel  type="text" placeholder="Ingrese la Url de la imagen del producto" required>
        <button class="btn btn-primary">Agregar Producto</button>
        
      </form>
  </div>
</div>


