.product-list{
  margin: 10px;
  padding: 10px;
  background-color: #ffc107;
  border-radius: 10px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.356);

}

h1{
  text-align: center;
  margin: 20px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  font-size: 40px;
}


img{
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 1px  rgba(0, 0, 0, 0.267);
  align-items: center;
}
 #name{
  text-transform: uppercase;
  font-size: 14px;
 }

table{
  border: rgb(58, 58, 58);
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0px 10px 10px 1px  rgba(0, 0, 0, 0.267);

}


fa-icon {
  align-items: center;
  margin: 5px ;
  background-color: white;
  border-radius: 10px;
}

.table-responsive{
  margin: 5px;
  padding: 5px;
}


.eliminar{
  color: red;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.eliminar:hover{
  color: white;
  background-color: red;
  border-radius: 5px;
  margin: 0 10px;
}

.editar{
  color: rgb(102, 255, 0);
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.editar:hover{
  color: white;
  background-color: rgb(0, 255, 0);
  border-radius: 5px;
  margin: 0 10px;
}

.centered-icons {
  display: flex;
  justify-content: center;
}