<div class="product-list">
  <h1>Lista de Productos</h1>
  <p class="p-message">{{productMessage}}</p>
  <div class="text-center d-flex justify-content-center">
    <button class="btn btn-success" routerLink="/vendedor-add-product">Agregar un Producto</button>
  </div>
    <hr>

  <div class="table-responsive">
    <table id="dataTable" class="table table-hover">
      <span></span>
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Color</th>
          <th>Categoria</th>
          <th>Descripcion</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productList">
          <td><img src="{{item.image}}" alt="{{item.name}}"/></td>
          <td id="name">{{item.name}}</td>
          <td id="name">{{item.price}}</td>
          <td id="name">{{item.color}}</td>
          <td id="name">{{item.category}}</td>
          <td id="name">{{item.description}}</td>
          <td>
            <fa-icon (click)="deleteProduct(item.id, item.name)" [icon]="icon" routerLink="/" class="eliminar"></fa-icon>
            <a class="adjust-update-link" routerLink="/vendedor-update-product/{{item.id}}">
              <fa-icon [icon]="editIcon" class="editar"></fa-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
