.search-item{
  margin:25px auto;
  width: 800px;
  padding:10px;
  border-radius: 10px;
}
.search-item img{
  width: 100%;
  object-fit: contain;
  height: 150px;
  border-radius: 10px;
}
.search-item img:hover{
  box-shadow: 1px 5px 5px 5px rgba(109, 109, 109, 0.205);
  border-radius: 10px;


}
.search-item h6{
  font-size: 24px;
  color:black;

}
.search-item p{
  margin:5px;
}
.search-item span{
  margin-right: 10px;
}
.row{
  background-color: #ffffffb6;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .search-item {
    width: 100%;
  }
}
