<div class="row product-details" *ngIf="productData">
  <!-- Sección izquierda con la imagen del producto -->
  <div class="col-sm-6" style="padding-top: 50px;">
    <img class="product-image" src="{{productData.image}}" alt="">
  </div>

  <!-- Sección derecha con los detalles del producto -->
  <div class="col-sm-6">
    <div class="details">
      <!-- Nombre y precio del producto -->
      <h1>{{productData.name}}</h1>
      <h1>${{productData.price}}</h1>

      <!-- Cuadro de color del producto -->
      <h1>Color</h1>
      <div class="product-color" [style.backgroundColor]="productData.color">
      </div>
      <!--mejorar los colores en vendedor y aqui -->
<hr>
      <!-- Información adicional sobre el producto -->
      <div class="texto">
        <h6><strong>Categoría: </strong> {{productData.category}}</h6>
        <h6><strong>Descripción: </strong> {{productData.description}}</h6>
      </div>
<hr>
      <!-- Sección de cantidad con botones para ajustar la cantidad -->
      <div class="cantidad">
        <button (click)="handleQuantity('min')"><i class="fas fa-minus"></i></button>
        <input type="number" value="{{productQuantity}}">
        <button (click)="handleQuantity('max')"><i class="fas fa-plus"></i></button>
      </div>
      

      <!-- Botones para comprar, añadir al carrito o eliminar del carrito -->
      <div style="padding-left: 10%;">

        <button class="button-comprar button1" (click)="compra()" >Comprar Ahora</button>

        <button *ngIf="!removeCart" class="button-add button1" (click)="addToCart()" style="margin-left: 10px;" >
          <i class="fas fa-plus"></i> Añadir al Carrito</button>
        <button *ngIf="removeCart" class="button-eliminar button1 btn btn-danger" (click)="removeToCart(productData.id)" style="margin-left: 10px;">
          <i class="fa-solid fa-trash"></i> Eliminar Carrito
        </button>
      </div>
    </div>
  </div>
</div>
