/* Estilo para la imagen del producto en la sección izquierda */
.row {
  background-color: #af904cb7;
  padding: 10px;
  margin: 20px;
  box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.205);

}

.details {
  background-color: #bbbab8;
  padding: 20px;
  border-radius: 10px;
  margin: 8px;
  box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.205);

}

.product-image {
  width: 100%;
  height: 400px; /* Puedes ajustar la altura según sea necesario */
  object-fit: contain;
  background-color: #f9cb164f;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.205);
}

/* Estilo para el cuadro de color del producto */
.product-color {
  width: 20px;
  height: 20px;
  border-radius: 20%;
  margin-left: 50%;
}
.product-color:hover{
  box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.205);

}

/* Estilos generales para la sección de detalles del producto */
.product-details {
  margin: 70px 30px;
  border-radius: 15px;
  font-family: 'Roboto Slab';
}

/* Estilos generales para las etiquetas h1 en el contenido */
h1 {
  text-align: center;
  font-size: 40px;
}

h6 {
  font-size: 20px;
  text-align: center;
}

/* Estilo para la sección de cantidad y botones */
.cantidad {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  height: 100px;
}

.cantidad button {
  padding: 15px; /* Reduje el relleno para que se vea más proporcionado */
  background-color: #0217309d;
  color: white;
  margin: 0 20px; /* Espacio entre los botones y el input */
  text-align: center;
  border-radius: 20px;
}

.cantidad button:hover{
  background-color: #4CAF50;
  border-radius: 20px;
  box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.205);
}

.cantidad input {
  width: 50px;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  text-align: center; /* Centra el texto dentro del input */
}

/* Estilo para los botones de añadir al carrito, comprar y eliminar carrito */
.button-add,
.button-comprar,
.button-eliminar {
  color: white;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0; /* Espacio entre los botones */
  cursor: pointer;
  width: 200px;
}

/* Estilos específicos para cada botón */
.button-add {
  background-color: #4CAF50;
  border-radius: 10px;
}

.button-comprar {
  background-color: #f9cd16;
  border-radius: 10px;
}

.button-eliminar {
  border: 1px solid black;
}

/* Efecto de hover para los botones con clase "button1" */
.button1:hover {
  color: black;
  box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.205);
}

/* Media Queries para hacer el diseño responsivo */
@media only screen and (max-width: 600px) {
  .row {
    margin: 10px;
  }
  .product-details {
    margin: 20px;
  }
  .product-image {
    height: auto;
  }
  .cantidad {
    padding: 20px 10%;
  }
}

/* Pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .row {
    margin: 15px;
  }
  .product-details {
    margin: 30px;
  }
  .cantidad {
    padding: 20px 20%;
  }
}

/* Grandes pantallas */
@media only screen and (min-width: 1025px) {
  .row {
    margin: 20px;
  }
  .product-details {
    margin: 40px;
  }
  .cantidad {
    padding: 20px 25%;
  }
}
